{% extends 'index.html' %}
{% load crispy_forms_tags %}
{% block content %}

  <h1>Agregar usuario</h1>


  <form action="{% url 'agregar-usuario' %}" method="POST">
    {% csrf_token %} 
    
    {% if mensaje %}   
    <div class="alert alert-success" role="alert" >Se eliminó exitosamente</div>
    {% endif %}
    {{form | crispy}}
    
    <button type="submit" class="btn btn-primary">Guardar</button>
    <a class="btn btn-warning" href="{% url 'listar-usuarios' %}">cancelar</a>

    
</form>

{% endblock content%}