{% extends 'gestion_usuarios.html' %}
{% block content %}

<div class="row vh-100 bg-secondary rounded align-items-center justify-content-center mx-0">
  <div >
    <h2 style="text-align:center;" >Lista de Usuarios</h2>
    </br></br>
    <table class="table"  >
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Username</th>
          <th scope="col">Correo</th>
          <th scope="col">Editar</th>
          <th scope="col">Eliminar</th>
          <th scope="col">Ver Consumo</th>
          <th scope="col">Ver factura</th>
        </tr>
      </thead>
      <tbody>
        {% for p in use %}
        <tr>
          <td>{{p.nombre}}</td>
          <td>{{p.username}}</td>
          <td>{{p.email}}</td>
          <td><a href= "{% url 'modificar-usuarios' p.id %}" class="nav-item nav-link active"><i></i>Editar</a></td>
          <td><a href= "{% url 'eliminar-usuarios' p.id %}" class="nav-item nav-link active"><i ></i>Eliminar</a></td>
          <td><a href= "{% url 'accountPage' p.id %}" class="nav-item nav-link active"><i ></i>Ver Consumo </a></td>
          <td><a href= "{% url 'gestion-factura' p.username %}" class="nav-item nav-link active"><i ></i>Ver facturas </a></td>

        {% endfor %}
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

{% endblock content %}