{% extends 'index.html' %}
{% block content %}
    <h2>Registro de factura</h2>
    {% if form.errors %}
        {{ form.errors }}
    {% endif %}
    <form method="post">
        {% csrf_token %}
      
        <br>{{ form.cliente.label }}</br>
        {{ form.cliente }}

        <br>{{ form.fecha_vencimiento.label }}</br>
        {{ form.fecha_vencimiento }}

        <br>{{ form.fecha_facturacion.label }}</br>
        {{ form.fecha_facturacion }}
      
        <br>{{ form.Pagado.label }}</br>
        {{ form.Pagado }}

        <input type="submit" value="Submit">
      </form>
{% endblock content %}